body{

    margin: 0;
    font-family: 'Muli', sans-serif;
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c7372d;
    width: 100%;
    height: 80px;
}
.header__img{

    width: 200px;
    margin: 10px 0px 0px 10px;
}
.login{

    background: linear-gradient(#c7372d, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    min-height: calc(100vh) - 200px;
}
.login__container{

    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
    border-radius: 40px;
    color: #ffffff;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form{

    display: flex;
    flex-direction: column;
}
.login__container--form label{

    font-size: 14px;
}
.login__container--remember-me{

    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 10px;
}
.login__container--remember-me a{

    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}
.login__container--remember-me a:hover{

    text-decoration: underline;
}
.login__container--social-media > div{/*Significa que aplique
    el estilos a todo lo encontrado con ese nombre, en este caso
    todos los div*/
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.login__container--social-media > div >img{
    
    width: 30px;
    margin-right: 10px;
}
.login__container--register{

    font-size: 14px;
}
.login__container--register a{

    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.login__container--register a:hover{

    text-decoration: underline;
}
.input{

    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    height: 50px;
}
::placeholder{

    color: #ffffff;
}
.button{

    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.footer{

    background-color: #AB88FF ;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a{

    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{

    text-decoration: underline;
}
@media only screen and (max-width: 600px){

    .login__container{

        background-color: transparent;
        border: none;
        padding: 10px;
        width: 100%;
    }
    .footer{

        align-items: flex-start;
        flex-direction: column;
    }
}