$white: #ffffff;
$screenFull: 100%;
$fontFamily: 'Muli', sans-serif;
$backColorOne: #c7372d;
$backColorTwo: #AB88FF;
@mixin flex {
    
    display: flex;
    align-items: center;
}
body{

    margin: 0;
    background: linear-gradient($backColorOne, $backColorTwo);
    font-family: $fontFamily;
}
.header{

    @include flex;
    justify-content: space-between;
    width: $screenFull;
    height: 80px;
}
.header__img{

    width: 200px;
    margin: 10px 0px 0px 10px;
}
.error{

    @include flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    border-radius: 0px 0px 40px 40px;
}
.error__title{

    color: $white;
    font-size: 100px;
    margin: 30px 0px;
}
/*Codigo de la animación basado en el sitio web: https://desarrolloweb.com/articulos/animacion-texto-css3.html*/
@keyframes up {

    from {
       bottom: 0px;
    }

    to {
       bottom: 50px;
    }
}
.anima{

    animation-name: up;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-direction: alternate;/*para que vuelva a su posicion inicial */
    height: 100px;
    position: relative;
 }  
.error__message{

    color: $white;
    font-size: 20px;
    margin: 0px;
}
.footer{

    @include flex;
    height: 110px;
    width: $screenFull;
}
.footer a{

    color: $white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}